{% extends 'core/base.html' %}
{% block content %}
<div class="row">
<div class="col-sm-4 ">
 <h3>Add student</h3>
<form method="POST" novalidate autocomplete="offf">
{% csrf_token %}
     {{form.as_p}}
    <input type="submit" value="Add" class="btn btn-success">

</form>

</div>
<div class="col-sm-7 offset-1">
   <h2>Student Info Table</h2>
     <table class="table table-hover">
  <thead>
    <tr>
     
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">password</th>
       <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {% if stu %}
        {% for st in stu %}
        
            <tr>
                <th>{{st.id}}</th>
                <td>{{st.name}}</td>
                <td>{{st.email}}</td>
                <td>{{st.password}}</td>
                <td>
                   <a href="{% url 'update'  st.id %}" class="btn btn-warning">Edit</a>
                   <form action="{% url 'delete' st.id %}" method="post" class="d-inline">
                   {% csrf_token %}
                   <input type="submit" value="Delete" class="btn btn-danger">
                   
                   
                   </form>
                
                
                </td>
            </tr>
        
        
        {% endfor %}
      
      
      
      {% endif %}
    
   
  </tbody>
</table>

</div>

</div>
{% endblock content %}